.menu{
    display:flex;
    justify-content: space-between;
    background-color: 	#90EE90;
    padding: 15px;
    font-size: 20px;
    font-family:sans-serif ;
    font-weight: 400;
    color: 	#0000ff;
}
body{
    margin: 0px;
    background-color: #4d1a7f;
}
a:link{
    color: red;
}
a:visited{
    color: seagreen;
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami{
    border-radius: 20px;
    background-color:  #dc143c;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;

}